<div
    class="w-full relative bg-white overflow-hidden flex flex-col items-end justify-start pt-[21px] px-0 pb-0 box-border leading-[normal] tracking-[normal] text-left text-sm text-darkslategray-800 font-poppins">
    <div
      class="w-[1428px] flex flex-row items-start justify-end pt-0 px-[49px] pb-[29px] box-border max-w-full mq800:pl-6 mq800:pr-6 mq800:box-border">
      <div class="flex-1 flex flex-row items-center justify-between max-w-full gap-[20px] mq800:flex-wrap">
        <div class="relative">Need help? Call us: (+98) 0234 456 789</div>
        <div class="flex flex-row items-center justify-center gap-[36px] mq450:gap-[18px]">
          <div class="flex flex-row items-center justify-center gap-[20px]">
            <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../../../assets/vuesaxlinearlocation.svg" />

            <div class="relative inline-block min-w-[65px]">Our store</div>
          </div>
          <div class="flex flex-row items-center justify-center gap-[19px]">
            <img class="h-6 w-6 relative min-h-[24px]" alt="" src=".../../../assets/vuesaxlinearlocation.svg" />

            <div class="relative inline-block min-w-[115px]">
              Track your order
            </div>
          </div>
        </div>
      </div>
    </div>
    <header 
      class="self-stretch h-[100px] bg-a flex flex-row items-center justify-between py-[22px] px-[67px] box-border top-[0] z-[99] sticky max-w-full gap-[20px] text-left text-sm text-darkslategray-800 font-poppins mq800:pl-[33px] mq800:pr-[33px] mq800:box-border">
      <div
        class="self-stretch w-[663px] flex flex-row items-center justify-center gap-[85px] max-w-full mq450:gap-[21px] mq800:gap-[42px]">
        <img class="h-[39px] w-[140px] relative object-contain" loading="lazy" alt="" src=".../../../assets/logo-1@2x.png" />

        <div
          class="self-stretch flex-1 rounded-xl bg-white flex flex-row items-center justify-start py-0 pr-0 pl-[25px] box-border relative gap-[10px] max-w-full">
          <div class="relative inline-block min-w-[127px] whitespace-nowrap">
            Serach any things
          </div>
          <button
            class="cursor-pointer [border:none] py-[17.5px] pr-10 pl-[41px] bg-b !m-[0] absolute top-[0px] left-[306px] rounded-xl flex flex-row items-center justify-center hover:bg-darkgoldenrod">
            <div class="relative text-sm font-semibold font-poppins text-white text-left inline-block min-w-[50px]">
              Search
            </div>
          </button>
        </div>
      </div>
      <div class="flex flex-row items-center justify-center gap-[29px] max-w-full text-xs text-white">
        <div class="flex flex-row items-center justify-center gap-[12px] text-sm">
          <img class="h-6 w-6 relative min-h-[24px]" alt="" src=".../../../assets/vuesaxlinearuser.svg" />

          <div class="relative inline-block min-w-[47px] whitespace-nowrap">
            Sign in
          </div>
        </div>
        <div class="flex flex-row items-center justify-center gap-[12px]">
          <div class="flex flex-row items-center justify-center gap-[3px]">
            <img class="h-6 w-6 relative" alt="" src=".../../../assets/vuesaxlinearheart.svg" />

            <div
              class="h-[15px] rounded-[394.74px] bg-b flex flex-col items-center justify-center py-0 px-[3px] box-border">
              <div class="relative inline-block min-w-[8px]">0</div>
            </div>
          </div>
          <div class="relative text-sm inline-block min-w-[47px] whitespace-nowrap">
            Sign in
          </div>
        </div>
        <div class="flex flex-row items-center justify-center gap-[12px]">
          <div class="flex flex-row items-center justify-center gap-[3px]">
            <img class="h-6 w-6 relative" alt="" src=".../../../assets/vuesaxlinearshoppingcart.svg" />

            <div
              class="h-[15px] rounded-[394.74px] bg-b flex flex-col items-center justify-center py-0 px-[3px] box-border">
              <div class="relative inline-block min-w-[8px]">0</div>
            </div>
          </div>
          <div class="relative text-sm inline-block min-w-[31px]">Cart</div>
        </div>
      </div>
    </header>
    
    