<section
class="self-stretch flex flex-row items-start justify-end pt-0 pb-[94px] pr-[61px] pl-16 box-border max-w-full text-left text-22xl text-steelblue-100 font-poppins mq800:pl-8 mq800:pr-[30px] mq800:pb-[61px] mq800:box-border">
<div class="flex-1 flex flex-row items-start justify-start relative max-w-full">
  <img class="h-[417px] flex-1 relative rounded-xl max-w-full overflow-hidden object-cover" loading="lazy" alt=""
    src="../../../assets/pexelsnaotriponez129208-1@2x.png" />

  <div
    class="w-[369px] !m-[0] absolute right-[149px] bottom-[63px] flex flex-col items-start justify-start gap-[36px]">
    <div class="self-stretch flex flex-row items-start justify-center py-0 pr-[23px] pl-5">
      <button
        class="cursor-pointer [border:none] py-3 px-[26px] bg-b rounded-xl flex flex-row items-start justify-start whitespace-nowrap z-[1] hover:bg-darkgoldenrod">
        <div class="relative text-mini-1 font-medium font-poppins text-white text-left inline-block min-w-[81px]">
          New laptop
        </div>
      </button>
    </div>
    <div class="self-stretch flex flex-col items-start justify-start gap-[12px]">
      <h1 class="m-0 relative text-inherit font-bold font-inherit z-[1] mq450:text-6xl mq800:text-14xl">
        Sale up to 50% off
      </h1>
      <div class="self-stretch flex flex-row items-start justify-center py-0 px-5 text-lg text-white">
        <div class="relative font-medium z-[1]">12 inch hd display</div>
      </div>
    </div>
    <div class="self-stretch flex flex-row items-start justify-center py-0 pr-[23px] pl-5">
      <button
        class="cursor-pointer [border:none] py-3 px-8 bg-b rounded-xl flex flex-row items-start justify-start whitespace-nowrap z-[1] hover:bg-darkgoldenrod">
        <div class="relative text-mini-1 font-medium font-poppins text-white text-left inline-block min-w-[70px]">
          Shop now
        </div>
      </button>
    </div>
  </div>
</div>
</section>