<app-header></app-header>
<section
class="self-stretch flex flex-col items-start justify-start pt-0 px-0 pb-24 box-border gap-[31px] max-w-full text-left text-base text-white font-poppins mq800:gap-[15px] mq800:pb-[62px] mq800:box-border mq450:pb-10 mq450:box-border"
>
<div
  class="self-stretch flex flex-col items-start justify-start max-w-full"
>
  <div
    class="self-stretch bg-whitesmoke-100 flex flex-row flex-wrap items-center justify-center py-[0.5px] px-[63px] box-border gap-[98px] max-w-full z-[1] mq800:gap-[49px] mq800:pl-[31px] mq800:pr-[31px] mq800:box-border mq450:gap-[24px]"
  >
    <div
      class="bg-b flex flex-row items-center justify-center py-[23px] px-3.5 gap-[16px] whitespace-nowrap"
    >
      <div class="relative font-medium">Browse categories</div>
      <img
        class="h-6 w-6 relative min-h-[24px]"
        alt=""
        src="../../../assets/vuesaxlineararrowdown.svg"
      />
    </div>
    <div
      class="flex-1 flex flex-row items-center justify-between py-5 px-0 box-border min-w-[649px] max-w-full gap-[20px] text-darkslategray-400 mq800:flex-wrap mq1125:min-w-full"
    >
      <div
        class="flex flex-row items-center justify-center gap-[29px] max-w-full mq800:flex-wrap"
      >
        <div
          class="flex flex-row items-center justify-center gap-[16px]"
        >
          <div class="relative font-medium inline-block min-w-[48px]">
            Home
          </div>
          <img
            class="h-6 w-6 relative min-h-[24px]"
            alt=""
            src="../../../assets/vuesaxlineararrowdown-1.svg"
          />
        </div>
        <div
          class="flex flex-row items-center justify-center gap-[16px]"
        >
          <div class="relative font-medium inline-block min-w-[66px]">
            Catalog
          </div>
          <img
            class="h-6 w-6 relative min-h-[24px]"
            alt=""
            src="../../../assets/vuesaxlineararrowdown-1.svg"
          />
        </div>
        <div class="flex flex-row items-center justify-center">
          <div class="relative font-medium inline-block min-w-[36px]">
            Blog
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-center gap-[16px]"
        >
          <div class="relative font-medium inline-block min-w-[50px]">
            Pages
          </div>
          <img
            class="h-6 w-6 relative min-h-[24px]"
            alt=""
            src="../../../assets/vuesaxlineararrowdown-1.svg"
          />
        </div>
        <div class="flex flex-row items-center justify-center">
          <div class="relative font-medium inline-block min-w-[72px]">
            About us
          </div>
        </div>
      </div>
      <b class="relative text-a">30 Days Free Return</b>
    </div>
  </div>
  <div
    class="self-stretch bg-gray-100 flex flex-row items-start justify-start py-[26px] px-[63px] box-border gap-[15.3px] max-w-full mt-[-1px] text-darkslategray-400 mq450:flex-wrap mq450:justify-center mq450:pl-5 mq450:pr-5 mq450:box-border"
  >
    <div
      class="h-[76px] w-[1440px] relative bg-gray-100 hidden max-w-full"
    ></div>
    <div class="relative font-medium inline-block min-w-[48px] z-[1]">
      Home
    </div>
    <img
      class="h-6 w-6 relative object-contain min-h-[24px] z-[1]"
      alt=""
      src="../../../assets/vuesaxlineararrowdown-4@2x.png"
    />

    <div class="relative font-medium inline-block min-w-[97px] z-[1]">
      All category
    </div>
    <img
      class="h-6 w-6 relative object-contain min-h-[24px] z-[1]"
      alt=""
      src="../../../assets/vuesaxlineararrowdown-4@2x.png"
    />
  </div>
</div>
</section>
<section
    class="self-stretch flex flex-row items-start justify-start py-0 pr-16 pl-[59px] box-border max-w-full text-left text-[16.1px] text-a font-poppins mq800:pl-[29px] mq800:pr-8 mq800:box-border">
    <div class="flex-1 flex flex-row items-start justify-start gap-[18px] max-w-full">
        
        <div class="w-[319px] flex flex-col items-start justify-start gap-[13px] mq1125:hidden">
            <div class="self-stretch flex flex-row items-start justify-start py-0 pr-[3px] pl-1">
                <div class="flex-1 flex flex-row items-start justify-between gap-[20px] mq450:flex-wrap">
                    <div class="relative font-medium inline-block min-w-[90px]">
                        Categories
                    </div>
                    <div class="relative text-base-1 text-dimgray-300 inline-block min-w-[42px]">
                        Reset
                    </div>
                </div>
            </div>
            <div class="self-stretch flex flex-row items-start justify-start pt-0 px-0.5 pb-[9.5px] text-gray-800">
                <div class="flex-1 flex flex-col items-start justify-center gap-[12px]">
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div
                                class="absolute top-[0px] left-[0px] rounded-lg bg-darkslategray-300 box-border w-full h-full border-[1px] border-solid border-darkgray-500">
                            </div>
                            <img class="absolute h-[19%] w-[28.33%] top-[40%] right-[35%] bottom-[41%] left-[36.67%] max-w-full overflow-hidden max-h-full z-[1]"
                                alt="" src="../../../assets/vector1.svg" />
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[179px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">
                                All categories
                            </div>
                            <div class="relative inline-block min-w-[16px]">10</div>
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">
                                Tablet
                            </div>
                            <div class="relative inline-block min-w-[11px]">5</div>
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">
                                Laptop
                            </div>
                            <div class="relative inline-block min-w-[11px]">5</div>
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">
                                Headphones
                            </div>
                            <div class="relative inline-block min-w-[11px]">5</div>
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">
                                Console
                            </div>
                            <div class="relative inline-block min-w-[11px]">5</div>
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">other</div>
                            <div class="relative inline-block min-w-[11px]">5</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="self-stretch flex flex-row items-start justify-start pt-0 px-0.5 pb-[10.5px]">
                <div class="flex-1 flex flex-col items-start justify-start gap-[12.8px]">
                    <img class="self-stretch relative max-w-full overflow-hidden max-h-full" loading="lazy" alt=""
                        src="../../../assets/line-2-stroke.svg" />

                    <div class="flex flex-row items-start justify-start py-0 px-0.5">
                        <div class="relative font-medium inline-block min-w-[90px]">
                            Avaliability
                        </div>
                    </div>
                    <div
                        class="self-stretch flex flex-col items-start justify-center gap-[12px] text-darkslategray-600">
                        <div class="self-stretch flex flex-row items-center justify-between gap-[20px] mq450:flex-wrap">
                            <div class="relative inline-block min-w-[84px]">
                                0 selected
                            </div>
                            <div class="relative text-base-1 text-dimgray-300 inline-block min-w-[42px]">
                                Reset
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px] text-gray-800">
                            <div class="h-[30px] w-[30px] relative">
                                <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                            </div>
                            <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                                <div class="w-52 relative inline-block shrink-0">
                                    In stock
                                </div>
                                <div class="relative inline-block min-w-[11px]">5</div>
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px] text-darkgray-100">
                            <div class="h-[30px] w-[30px] relative">
                                <div class="absolute top-[0px] left-[0px] rounded-lg bg-aliceblue-200 w-full h-full">
                                </div>
                            </div>
                            <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                                <div class="w-52 relative inline-block shrink-0">
                                    Out of stock
                                </div>
                                <div class="relative text-darkgray-700 inline-block min-w-[11px]">
                                    0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="self-stretch flex flex-row items-start justify-start pt-0 pb-[9.5px] pr-[3px] pl-0.5">
                <img class="flex-1 relative max-w-full overflow-hidden max-h-full" loading="lazy" alt=""
                    src="../../../assets/line-2-stroke.svg" />
            </div>
            <div class="self-stretch flex flex-row items-start justify-start pt-0 px-0.5 pb-[11.5px]">
                <div class="flex-1 flex flex-col items-start justify-start gap-[13px]">
                    <div class="flex flex-row items-start justify-start py-0 px-0.5">
                        <div class="relative font-medium inline-block min-w-[104px]">
                            Product type
                        </div>
                    </div>
                    <div
                        class="self-stretch flex flex-col items-start justify-center gap-[12px] text-darkslategray-600">
                        <div class="self-stretch flex flex-row items-center justify-between gap-[20px] mq450:flex-wrap">
                            <div class="relative inline-block min-w-[84px]">
                                0 selected
                            </div>
                            <div class="relative text-base-1 text-dimgray-300 inline-block min-w-[42px]">
                                Reset
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px] text-gray-800">
                            <div class="h-[30px] w-[30px] relative">
                                <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                            </div>
                            <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                                <div class="w-52 relative inline-block shrink-0">
                                    Smart-watch
                                </div>
                                <div class="relative inline-block min-w-[11px]">5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="self-stretch flex flex-row items-start justify-start pt-0 pb-[9.5px] pr-[3px] pl-0.5">
                <img class="flex-1 relative max-w-full overflow-hidden max-h-full" loading="lazy" alt=""
                    src="../../../assets/line-2-stroke.svg" />
            </div>
            <div class="self-stretch flex flex-row items-start justify-start pt-0 px-0.5 pb-[11.5px]">
                <div class="flex-1 flex flex-col items-start justify-start gap-[13px]">
                    <div class="flex flex-row items-start justify-start py-0 px-0.5">
                        <div class="relative font-medium inline-block min-w-[49px]">
                            Brand
                        </div>
                    </div>
                    <div
                        class="self-stretch flex flex-col items-start justify-center gap-[12px] text-darkslategray-600">
                        <div class="self-stretch flex flex-row items-center justify-between gap-[20px] mq450:flex-wrap">
                            <div class="relative inline-block min-w-[84px]">
                                0 selected
                            </div>
                            <div class="relative text-base-1 text-dimgray-300 inline-block min-w-[42px]">
                                Reset
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px] text-gray-800">
                            <div class="h-[30px] w-[30px] relative">
                                <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                            </div>
                            <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                                <div class="w-52 relative inline-block shrink-0">
                                    Smart-watch
                                </div>
                                <div class="relative inline-block min-w-[11px]">5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="self-stretch flex flex-row items-start justify-start py-0 pr-[3px] pl-0.5">
                <div class="flex-1 flex flex-col items-start justify-start gap-[12.5px]">
                    <img class="self-stretch relative max-w-full overflow-hidden max-h-full" loading="lazy" alt=""
                        src="../../../assets/line-2-stroke.svg" />

                    <div class="flex flex-row items-start justify-start py-0 px-1">
                        <div class="relative font-medium inline-block min-w-[44px]">
                            Color
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="self-stretch flex flex-row items-start justify-start pt-0 pb-[6.5px] pr-0 pl-1 text-darkslategray-600">
                <div class="flex-1 flex flex-col items-start justify-start gap-[12px]">
                    <div class="self-stretch flex flex-row items-start justify-between gap-[20px] mq450:flex-wrap">
                        <div class="relative inline-block min-w-[84px]">
                            0 selected
                        </div>
                        <div class="relative text-base-1 text-dimgray-300 inline-block min-w-[42px]">
                            Reset
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row items-start justify-between gap-[20px] mq450:flex-wrap">
                        <div class="h-4 w-[15px] relative rounded-[50%] bg-b mq450:w-full mq450:h-[15px]"></div>
                        <div class="h-4 w-[15px] relative rounded-[50%] bg-crimson mq450:w-full mq450:h-[15px]"></div>
                        <div class="h-4 w-[15px] relative rounded-[50%] bg-steelblue-600 mq450:w-full mq450:h-[15px]">
                        </div>
                        <div class="h-4 w-[15px] relative rounded-[50%] bg-darkgray-300 mq450:w-full mq450:h-[15px]">
                        </div>
                        <div class="h-4 w-[15px] relative rounded-[50%] bg-darkgreen mq450:w-full mq450:h-[15px]"></div>
                        <div class="h-4 w-[15px] relative rounded-[50%] bg-darkslateblue mq450:w-full mq450:h-[15px]">
                        </div>
                        <div class="h-4 w-[15px] relative rounded-[50%] bg-darkmagenta mq450:w-full mq450:h-[15px]">
                        </div>
                        <div class="h-4 w-[15px] relative rounded-[50%] bg-brown mq450:w-full mq450:h-[15px]"></div>
                        <div class="h-4 w-[15px] relative rounded-[50%] bg-yellowgreen-200 mq450:w-full mq450:h-[15px]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="self-stretch flex flex-row items-start justify-start pt-0 pb-[13.5px] pr-px pl-1">
                <img class="flex-1 relative max-w-full overflow-hidden max-h-full" loading="lazy" alt=""
                    src="../../../assets/line-2-stroke.svg" />
            </div>
            <div class="self-stretch flex flex-col items-start justify-start pt-0 px-0 pb-[12.5px] gap-[10px]">
                <div class="relative font-medium inline-block min-w-[32px]">
                    Size
                </div>
                <div class="self-stretch flex flex-col items-start justify-center gap-[12px] text-gray-800">
                    <div
                        class="self-stretch flex flex-row items-center justify-between gap-[20px] text-darkslategray-600 mq450:flex-wrap">
                        <div class="relative inline-block min-w-[84px]">
                            0 selected
                        </div>
                        <div class="relative text-base-1 text-dimgray-300 inline-block min-w-[42px]">
                            Reset
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">M</div>
                            <div class="relative inline-block min-w-[11px]">5</div>
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">S</div>
                            <div class="relative inline-block min-w-[11px]">5</div>
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">X</div>
                            <div class="relative inline-block min-w-[11px]">5</div>
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row flex-wrap items-center justify-center gap-[10px]">
                        <div class="h-[30px] w-[30px] relative">
                            <div class="absolute top-[0px] left-[0px] rounded-lg bg-lightblue w-full h-full"></div>
                        </div>
                        <div class="flex-1 flex flex-row items-center justify-between min-w-[178px] gap-[20px]">
                            <div class="w-52 relative inline-block shrink-0">XX</div>
                            <div class="relative inline-block min-w-[11px]">5</div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="self-stretch relative max-w-full overflow-hidden max-h-full" loading="lazy" alt=""
                src="../../../assets/line-2-stroke.svg" />
        </div>
        <div
            class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-[0.1px] box-border gap-[24.1px] max-w-[calc(100%_-_337px)] text-mid-1 mq1125:max-w-full">
            <div
                class="self-stretch grid flex-row items-start justify-start gap-[26.6px] grid-cols-[repeat(3,_minmax(232px,_1fr))] mq800:grid-cols-[minmax(232px,_1fr)] mq1125:justify-center mq1125:grid-cols-[repeat(2,_minmax(232px,_401px))]">
                <div
                    class="rounded-[19.67px] flex flex-row items-start justify-start py-[21px] pr-3 pl-[13px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start gap-[2px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/headphone-instance@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.4px] w-[14.4px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-1.svg" />
                            </div>
                        </div>
                        <div class="flex flex-row items-start justify-start pt-0 px-0 pb-[13.7px]">
                            <div class="relative font-medium">Wireless headphones</div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px] text-darkslategray-100">
                            <div
                                class="relative font-semibold inline-block min-w-[49px] shrink-0 [debug_commit:bf4bc93] whitespace-nowrap">
                                $11,70
                            </div>
                            <div
                                class="flex flex-row items-start justify-start gap-[10.8px] shrink-0 [debug_commit:bf4bc93]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="rounded-[19.67px] flex flex-row items-start justify-start py-[21px] pr-3 pl-[13px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start gap-[2px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-296@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.4px] w-[14.4px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-1.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium inline-block min-w-[93px]">
                                Play game
                            </div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets//vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="rounded-[19.67px] flex flex-row items-start justify-start py-[21px] pr-3 pl-[13px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start gap-[2px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-297@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.7px] w-[14.7px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-4.svg" />
                            </div>
                        </div>
                        <div class="flex flex-row items-start justify-start pt-0 px-0 pb-[13.7px]">
                            <div class="relative font-medium">Tablet as a laptop</div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px] text-darkslategray-100">
                            <div
                                class="relative font-semibold inline-block min-w-[49px] shrink-0 [debug_commit:bf4bc93] whitespace-nowrap">
                                $11,70
                            </div>
                            <div
                                class="flex flex-row items-start justify-start gap-[10.8px] shrink-0 [debug_commit:bf4bc93]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="self-stretch grid flex-row items-start justify-start gap-[26.6px] grid-cols-[repeat(3,_minmax(232px,_1fr))] mq800:grid-cols-[minmax(232px,_1fr)] mq1125:justify-center mq1125:grid-cols-[repeat(2,_minmax(232px,_401px))]">
                <div
                    class="rounded-[19.67px] flex flex-row items-start justify-start py-[21px] pr-3 pl-[13px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-[0.1px] gap-[1.9px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-298@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.4px] w-[14.4px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-1.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium">Wireless headphones</div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="rounded-[19.67px] flex flex-row items-start justify-start py-[21px] pr-3 pl-[13px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-[0.1px] gap-[1.9px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-299@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.4px] w-[14.4px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-1.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium inline-block min-w-[93px]">
                                Play game
                            </div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="rounded-[19.67px] flex flex-row items-start justify-start py-[21px] pr-3 pl-[13px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-[0.1px] gap-[1.9px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-2910@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.7px] w-[14.7px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-4.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium">Tablet as a laptop</div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="self-stretch flex flex-row flex-wrap items-start justify-start gap-[24px_24.6px] min-h-[651px]">
                <div
                    class="w-[308px] rounded-[19.67px] box-border flex flex-row items-start justify-start py-[21px] pr-[11px] pl-[13px] min-w-[293px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start gap-[2px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-2911@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.4px] w-[14.4px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-1.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium">Wireless headphones</div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="w-[308px] rounded-[19.67px] box-border flex flex-row items-start justify-start py-[21px] pr-[11px] pl-[13px] min-w-[293px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start gap-[2px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-2912@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.4px] w-[14.4px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-1.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium inline-block min-w-[93px]">
                                Play game
                            </div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="w-[308px] rounded-[19.67px] box-border flex flex-row items-start justify-start py-[21px] pr-[11px] pl-[13px] min-w-[293px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start gap-[2px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-2913@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.7px] w-[14.7px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-4.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium">Tablet as a laptop</div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="w-[308px] rounded-[19.67px] box-border flex flex-row items-start justify-start py-[21px] pr-[11px] pl-[13px] min-w-[293px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-[0.1px] gap-[1.9px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-2914@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.4px] w-[14.4px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-1.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium">Wireless headphones</div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="w-[308px] rounded-[19.67px] box-border flex flex-row items-start justify-start py-[21px] pr-[11px] pl-[13px] min-w-[293px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-[0.1px] gap-[1.9px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-2915@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.4px] w-[14.4px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-1.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium inline-block min-w-[93px]">
                                Play game
                            </div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets//vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="w-[308px] rounded-[19.67px] box-border flex flex-row items-start justify-start py-[21px] pr-[11px] pl-[13px] min-w-[293px] border-[1px] border-solid border-silver-600">
                    <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-[0.1px] gap-[1.9px]">
                        <div
                            class="self-stretch overflow-hidden flex flex-row items-start justify-end pt-[13.8px] px-3 pb-[126.9px] bg-[url('/assets/frame-2916@3x.png')] bg-cover bg-no-repeat bg-[top]">
                            <div
                                class="h-[27.5px] w-[27.5px] rounded-103xl-4 bg-lightblue flex flex-row items-center justify-center">
                                <img class="h-[14.7px] w-[14.7px] relative" alt=""
                                    src="../../../assets/vuesaxlinearheart-4.svg" />
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[15.8px]">
                            <div class="relative font-medium">Tablet as a laptop</div>
                            <div
                                class="relative font-semibold text-darkslategray-100 inline-block min-w-[49px] whitespace-nowrap">
                                $11,70
                            </div>
                            <div class="flex flex-row items-start justify-start gap-[10.8px]">
                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-1.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-2.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-3.svg" />

                                <img class="h-[14.6px] w-[14.7px] relative min-h-[15px]" alt=""
                                    src="../../../assets/vector-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-banner2></app-banner2>
<app-footer></app-footer>