<section
  class="self-stretch flex flex-col items-start justify-start pt-0 px-0 pb-[52px] box-border max-w-full text-left text-base text-white font-poppins mq800:pb-[34px] mq800:box-border">
  <!-- <div
    class="self-stretch bg-whitesmoke-100 flex flex-row flex-wrap items-center justify-center py-[0.5px] px-[63px] box-border gap-[98px] max-w-full z-[3] mq450:gap-[24px] mq800:gap-[49px] mq800:pl-[31px] mq800:pr-[31px] mq800:box-border">
    <div class="bg-b flex flex-row items-center justify-center py-[23px] px-3.5 gap-[16px] whitespace-nowrap">
      <div class="relative font-medium">Browse categories</div>
      <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../../../assets/vuesaxlineararrowdown.svg" />
    </div>
    <div
      class="flex-1 flex flex-row items-center justify-between py-5 px-0 box-border min-w-[649px] max-w-full gap-[20px] text-darkslategray-400 mq800:flex-wrap mq1150:min-w-full">
      <div class="flex flex-row items-center justify-center gap-[29px] max-w-full mq800:flex-wrap">
        <div class="flex flex-row items-center justify-center gap-[16px]">
          <div class="relative font-medium inline-block min-w-[48px]">
            Home
          </div>
          <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../../../assets/vuesaxlineararrowdown-1.svg" />
        </div>
        <div class="flex flex-row items-center justify-center gap-[16px]">
          <div class="relative font-medium inline-block min-w-[66px] ">
            Catalog

          </div>

          <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../../../assets/vuesaxlineararrowdown-1.svg" />
        </div>
        <div class="flex flex-row items-center justify-center">
          <div class="relative font-medium inline-block min-w-[36px]">
            Blog
          </div>
        </div>
        <div class="flex flex-row items-center justify-center gap-[16px]">
          <div class="relative font-medium inline-block min-w-[50px]">
            Pages
          </div>
          <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../../../assets/vuesaxlineararrowdown-1.svg" />
        </div>
        <div class="flex flex-row items-center justify-center">
          <div class="relative font-medium inline-block min-w-[72px]">
            About us
          </div>
        </div>
      </div>
      <b class="relative text-a">30 Days Free Return</b>
    </div>
  </div> -->
  <div
    class="self-stretch shadow-[19px_4px_16px_rgba(0,_0,_0,_0.09)] bg-white overflow-hidden flex flex-row items-start justify-between pt-[38px] pb-0 pr-[177px] pl-[174px] box-border max-w-full gap-[20px] mt-[-1px] text-[43px] text-steelblue-600 mq450:pl-5 mq450:pr-5 mq450:box-border mq800:pl-[87px] mq800:pr-[88px] mq800:box-border mq1150:flex-wrap mq1150:justify-center">
    <div class="h-[394px] w-[1440px] relative shadow-[19px_4px_16px_rgba(0,_0,_0,_0.09)] bg-white hidden max-w-full">
    </div>
    <div class="w-[309px] flex flex-col items-start justify-start pt-[29px] px-0 pb-0 box-border">
      <div class="self-stretch flex flex-col items-start justify-start gap-[19px]">
        <h1 class="m-0 relative text-inherit font-bold font-inherit z-[3] mq450:text-[26px] mq800:text-[34px]">
          <p class="m-0">Canon</p>
          <p class="m-0">camera</p>
        </h1>
        <div class="self-stretch flex flex-col items-start justify-start gap-[49px] mq450:gap-[24px]">
          <div class="self-stretch flex flex-row items-start justify-start gap-[21px]">
            <button
              class="cursor-pointer [border:none] py-[18.5px] px-8 bg-b flex-[0.9195] rounded-xl flex flex-row items-start justify-start whitespace-nowrap z-[1] hover:bg-darkgoldenrod">
              <div class="relative text-base font-semibold font-poppins text-white text-left inline-block min-w-[80px]">
                Shop now
              </div>
            </button>
            <button
              class="cursor-pointer py-[17px] pr-[27px] pl-7 bg-[transparent] flex-1 rounded-xl flex flex-row items-start justify-start whitespace-nowrap z-[1] border-[1px] border-solid border-steelblue-300 hover:bg-lightslategray-200 hover:box-border hover:border-[1px] hover:border-solid hover:border-lightslategray-100">
              <div
                class="relative text-base font-semibold font-poppins text-steelblue-400 text-left inline-block min-w-[87px]">
                View more
              </div>
            </button>
          </div>
          <div class="self-stretch flex flex-row items-start justify-center py-0 pr-[21px] pl-5">
            <div class="flex flex-row items-start justify-start gap-[8px] z-[1]">
              <div class="h-4 w-4 relative rounded-[50%] bg-b"></div>
              <div class="h-4 w-4 relative rounded-[50%] box-border border-[0px] border-solid border-darkgray-200">
              </div>
              <div class="h-4 w-4 relative rounded-[50%] box-border border-[0px] border-solid border-darkgray-200">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[331px] flex flex-row items-start justify-start relative max-w-full text-[21.6px] text-white">
      <img class="h-[356px] flex-1 relative max-w-full overflow-hidden object-cover z-[1]" loading="lazy" alt=""
        src="../../../assets/8-1@2x.png" />

      <div
        class="!m-[0] absolute right-[-31px] bottom-[52.4px] rounded-[674.16px] bg-b flex flex-row items-start justify-start py-[25.3px] px-9 z-[2]">
        <div class="relative font-semibold mq450:text-mid">
          <p class="m-0">only</p>
          <p class="m-0">$89</p>
        </div>
      </div>
    </div>
  </div>
</section>